# compiled output
dist

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/coverage
yarn-error.log
.yarn

# System Files
.DS_Store
Thumbs.db

# nx
.nx

# Docker
docker

# Env
.env
.env.prod